* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #676179;
    font-family: 'Roboto', serif;
}

form {
    background-color: #2b2638;
    display: flex;
    flex-direction: column;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 20px 20px #403b4f;
    color: white;
    gap: 1rem;
}

.form-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thin-txt {
    font-weight: 100;
    font-size: 14px;
}

.grid-container {

}